@model IEnumerable<Proyecto>

@if (Model is not null)
{
    <div class="container py-2">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var proyecto in Model)
            {
                <div class="col">
                    <div class="card h-100 bg-dark text-white border-0 shadow-lg rounded-4">
                        <img src="@proyecto.ImagenURL"
                             class="card-img-top rounded-top-4 img-fluid"
                             style="height: 200px; object-fit: cover;"
                             alt="imagen proyecto" />

                        <div class="card-body">
                            <h5 class="card-title text-white">@proyecto.Descripcion</h5>
                        
                            <p class="card-text text-primary">@proyecto.Herramientas</p>
                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <a class="btn btn-primary" href="@proyecto.Link" target="_blank"
                              >Visitar</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>



}