
@{
	ViewData["Title"] = "Gracias";
}




<div class="container">


	<h1> ¡Gracias por contactar en breve me comunico con tigo¡</h1>
	<div><a asp-action="Index" asp-controller="Home">Regresar</a> </div>


</div>