@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model IEnumerable<Proyecto>
@{
	ViewData["Title"] = "Proyectos";
}

<div class="text-center" style="padding-top: 2rem;">
	<h1>Proyectos</h1>
	
</div>


	<partial name="_ListadoProyectos" model="Model" />
